<section class="blog-cards">
	<div class="row">
		<div class="col-4">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam esse iusto veniam nam quaerat blanditiis natus architecto iure eius officiis aut reprehenderit ab delectus sed fugit a, libero enim quidem.
					</p>
					<button class="btn btn-primary">
						ver mas 
					</button>	
				</div>
			</div>
		</div>
	</div>
</section>