  <section class="cards">
	   <div class="row">
		 <div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">
                      contenido
	                </h5>
					<p class="card-text">
	                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptate similique perspiciatis assumenda provident libero totam deserunt natus ullam quibusdam sequi, omnis aspernatur quisquam inventore accusantium repellendus tenetur reprehenderit non.
					</p>
					<button class="btn btn-primary">
						ver mas 
					</button>	
				</div>
			</div>
		 </div>	
	  </div>
</section>
