<section class="services-type">
	<div class="row justify-center">
		<div class="col-3">
			<h1>services 1</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eaque repudiandae, ipsam necessitatibus placeat tenetur neque. Quas inventore, iste aliquam sunt doloribus. Fugiat sunt, repellendus, mollitia reprehenderit nobis necessitatibus ab.</p>
		</div>
		<div class="col-3">
			<h1>services 1</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eaque repudiandae, ipsam necessitatibus placeat tenetur neque. Quas inventore, iste aliquam sunt doloribus. Fugiat sunt, repellendus, mollitia reprehenderit nobis necessitatibus ab.</p>			
		</div>
		<div class="col-3">
			<h1>services 1</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eaque repudiandae, ipsam necessitatibus placeat tenetur neque. Quas inventore, iste aliquam sunt doloribus. Fugiat sunt, repellendus, mollitia reprehenderit nobis necessitatibus ab.</p>
		</div>
		<div class="col-3">
			<h1>services 1</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eaque repudiandae, ipsam necessitatibus placeat tenetur neque. Quas inventore, iste aliquam sunt doloribus. Fugiat sunt, repellendus, mollitia reprehenderit nobis necessitatibus ab.</p>
		</div>		
	</div>
	<div class="row">
		<div class="col-3">
		    <h1>services 1</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eaque repudiandae, ipsam necessitatibus placeat tenetur neque. Quas inventore, iste aliquam sunt doloribus. Fugiat sunt, repellendus, mollitia reprehenderit nobis necessitatibus ab.</p>
		</div>
		<div class="col-3">
			<h1>services 1</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eaque repudiandae, ipsam necessitatibus placeat tenetur neque. Quas inventore, iste aliquam sunt doloribus. Fugiat sunt, repellendus, mollitia reprehenderit nobis necessitatibus ab.</p>
		</div>
		<div class="col-3">
		    <h1>services 1</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eaque repudiandae, ipsam necessitatibus placeat tenetur neque. Quas inventore, iste aliquam sunt doloribus. Fugiat sunt, repellendus, mollitia reprehenderit nobis necessitatibus ab.</p>
		</div>
		<div class="col-3">
		    <h1>services 1</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eaque repudiandae, ipsam necessitatibus placeat tenetur neque. Quas inventore, iste aliquam sunt doloribus. Fugiat sunt, repellendus, mollitia reprehenderit nobis necessitatibus ab.</p>
		</div>		
	</div>
</section>