<section class="blogs">
<div class="row">
  <% @blog.each do |blog| %>
     <div class="col-3">
        <h3><%= blog.title %></h3>
        <%= blog.imagen %>   
        <%= blog.description %> 
    </div>
  <% end %>
</div>
</section>