// Place all the styles related to the admin/blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blogs{
 margin-bottom: 5rem;

 .contenido{
 	background:rgba(26, 18, 18, 0.2);
 	margin-bottom: 5rem;
  }
 h4{
 	margin-top: 1rem;
 }

 
 
}