.cards{

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 22rem;
 
    p { 
    	font-family: 'Rubik', sans-serif;
    	font-size: 0.7rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
    }
 
 
}