.hero{       
	 
	    margin-bottom: 5rem;
	    background: url(style/hero_bg.png) center top no-repeat;
	    background-size: 100%;
	    height: 640px;
	    font-family: 'Rubik', sans-serif;

   .row{

      margin-bottom: 3rem;
       }

	.col-md-6{
		    padding: 7.5rem 1rem;
        margin-top: 3rem;
	}
	.contenido{
		h1{
			color:white;
		}
	    p{
	    	color:white;
	    }
	}

	.imagen{
		background: url(style/hero_img.png) center no-repeat;
		background-size: 400px;
		height: 435px;
	}
    .card{  
        
       	.card-body{ 
    	font-family: 'Rubik', sans-serif;
    	font-size: 0.7rem;
        line-height: 1.5;
        color: #212529;

        button{
        	line-height: 1.2rem;
           }
        }
    }
      }

 

    // Extra small devices (portrait phones, less than 576px) // No media query for `xs` since this is the default in Bootstrap // Small devices (landscape phones, 576px and up) 
   
    // Medium devices (tablets, 768px and up) 
@media ( max-width : 360px){
   
    .hero{
      
      background-size: 100% 50%;
    .col-md-6 {
      
    }

   .imagen{
    margin-top: -13rem;


    }
	} 
}

 @media ( max-width : 768px){ 

      .hero{
            background-size: 100% 55%;


    	    .col-md-6 {
           
              padding: 7.5rem 1rem;
              margin-top: -1rem;
              font-size: 12px;

             }
  
          .contenido .col-6{
  
	          h1{

			        font-size: 15px
		          }
		        p{

		   	      font-style: 9px;
		          }

	            }

	         .imagen{

			          background-size: 263px 210px;
	          	}


          }
   } 


 // Large devices (desktops, 992px and up) 
    @media ( min-width : 992px ) { } 
    // Extra large devices (large desktops, 1200px and up)  
    @media ( min-width : 1200px ) { } 

