.main-services{

    margin-top: -12rem;
    margin-bottom: 2rem;

  .card-body{ 

         font-family: 'Rubik', sans-serif;
         font-size: 0.7rem;
         line-height: 1.5;
         color: #212529;

   }
  .card{

        margin-bottom: 2rem;

   }
 
 
}

@media ( max-width: 480px) {

  .main-services{
    margin-top: -11rem !important;
 
 
 
  }

  
}


@media screen and (max-width:1024px) and(min-width: 768px){

  .main-services{
    margin-top: -21rem ;
  }
 
  
}
