.main-services{

    margin-top: -15rem;
    margin-bottom: 5rem;

  .card-body{ 

         font-family: 'Rubik', sans-serif;
         font-size: 0.7rem;
         line-height: 1.5;
         color: #212529;

        }
  .card{

        margin-bottom: 2rem;

        }
 
 
}