.navbar{

   position: fixed;
   top:0;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 1.5rem 1rem;
   width: -moz-available;
   z-index:1;
   font-family: 'Rubik', sans-serif;


        .link{
           border: 1px solid;
           color: white;
           border-radius: 0.3rem;
           margin: 8px;
           padding: 10px;
        }

     
}

