.services-item{
    margin-top: 0rem;
    margin-bottom: 2rem;
    
  .item{

        .card{
           margin-bottom: 1rem;

        }
        .card-body{ 
            font-family: 'Rubik', sans-serif;
            font-size: 0.7rem;
            line-height: 1.5;
            color: #212529;

         }
 
  }

  .imagen{
     background: url(iconos/defaul.jpg) center no-repeat;

  }
 
 
}



