<div class="container">
<h1>Detalles del Libro</h1>
<div>Nombre: <%= @blog.title %></div>
<div>imagen: <%= image_tag @blog.img.thumb.url%></div>
<div>Descripción: <%= @blog.description %></div>
</div>